.container{
    background-color: aquamarine;
    padding: 5px;
    width: 800px;
    height: 150pxpx;
    margin-left: 200px;
    margin-top: 60px;
text-align: center;

}
.a{
    background-color: rgb(223, 147, 195);
    padding: 5px;
    width: 800px;
    margin-left:200px ;
    border: 10px;
    border: cornflowerblue;
}
